<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <head th:fragment="head">
   
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        
            <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}">
            <link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}" >
            <title > Tourism Hero</title>
          </head>

        <nav class="navbar navbar-default" th:fragment="menu">
        
            <div class="navbar-header">
            
             <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>  
            
            <a class="navbar-brand" href="#" ><b><img src="image/1.jpg" class="img-circle" alt="image" width="30" height="30" th:src="@{/image/1.jpg}"> Tourism Hero</b></a>
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">            
            </ul>
                <ul class="nav navbar-nav navbar-right">
                  
                     <li class="dropdown">
                          <a href="#" class="dropddown-toggle"
                          data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">로그인<span class="caret"></span></a>
                         <ul class="dropdown-menu">
                          <li><a href="login.html">로그인</a></li>
                          <li ><a href="#">회원가입</a></li>
                  
                     </ul>
                    </li>
                </ul> 
             
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a href="#" th:href="@{/board/list}">Notice </a>
                    </li>
                    <li >
                        <a href="#">Q&A </a></li>
                </ul>    
           </div>
           </nav>
        
           <footer style="background-color: #000000; color:#ffffff"  th:fragment="footer">
            <div class= "container">
                <br>
                <div class= "row">
                    <div class="col-sm-2" style="text-align: center;"><h5>Copyright &copy; 2021</h5><h5>프로젝트</h5></div>
                    <div class="col-sm-4"><h4>팀 소개</h4><p>팀소개</p></div>
                    <div class="col-sm-2" ><p>이용약관 </p> <p>개인정보처리방침 </p></div>
            </div>
        </div>
         </footer>
</body>
</html>